DEVELOPMENT_TEAM=8GJMP9US45
IPHONEOS_DEPLOYMENT_TARGET=26.0
SDKROOT=iphoneos
SWIFT_VERSION=5.0
ONLY_ACTIVE_ARCH=YES
MTL_FAST_MATH=YES

DEBUG_INFORMATION_FORMAT[config=Debug]=dwarf
DEBUG_INFORMATION_FORMAT[config=Release]=dwarf-with-dsym
ENABLE_TESTABILITY[config=Debug]=YES
GCC_OPTIMIZATION_LEVEL[config=Debug]=0
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug]=DEBUG $(inherited)
SWIFT_OPTIMIZATION_LEVEL[config=Debug]=-Onone
SWIFT_COMPILATION_MODE[config=Release]=wholemodule
VALIDATE_PRODUCT[config=Release]=YES
